<% data_present = dates.present? %>
<% if data_present %>
    <table class="table" id="booking_details_table">
        <tr>
            <th class="bg-light-blue">
                Date
            </th>
            <% dates.each{|date_| %>
                <th class="bg-light-blue-1"><%= date_.strftime("%a, %d %b") %></th>
            <% } %>

        </tr>
        <% room_types.each{|room_type| %>
            <% room_type_name = room_type["name"] %>
            <% split_allowed = room_type["is_split_allowed"] %>
            <% max_occupancy = room_type["max_occupancy"] || 2 %>
            <tr>
                <td class="bg-light-blue">
                    <%= "#{room_type_name}#{split_allowed ? " (Beds)" : ""}" %>
                </td>
                <% room_status = hotel_status[room_type_name] || {} %>
                <% dates.each{|date_| %>
                    <% if split_allowed %>
                        <% available_count = room_status[date_.strftime("%F")]["available_rooms"] * max_occupancy %>
                    <% else %>
                        <% available_count = room_status[date_.strftime("%F")]["available_rooms"] %>
                    <% end %>
                    <td class="bg-light-blue-1"><%= available_count.round.to_i %></td>
                <% } %>
            </tr>
        <% } %>
    </table>
<% else %>
    <table class="table table-bordered align-middle" id="booking_details_table">
        <tr>
            <th class="bg-light-blue">
                Date
            </th>
            <% 7.times do %>
                <th class="bg-light-blue-1"></th>
            <% end %>

        </tr>
        <% room_types.each{|room_type| %>
            <% room_type_name = room_type["name"] %>
            <tr>
                <td class="bg-light-blue">
                    <%= room_type_name %>
                </td>
                <% 7.times do %>
                    <td class="bg-light-blue-1"></td>
                <% end %>
            </tr>
        <% } %>
    </table>

<% end %>