<html>
    <body>
        Hi,
        <br>
        Please find the daily report attached.
        <br>
        <br>
        Thanks
        <br>
        <br>
        <b>[ This is a system generated email. Please do not reply to this email] </b>
    </body>
</html>