.bg-blue {
    background-color: #071497 !important;
}

.text-blue {
    color: #071497 !important;
}

.text-white {
    color: #fff !important;
}

.bg-gray {
    background-color: #eee !important;
}

.bg-light-blue {
    background-color: #88bee7 !important;
}

.bg-light-blue-1 {
    background-color: #c3dff2 !important;
}